/.build/
/_build/
/Build
/Build.bat
/blib
/Makefile
/pm_to_blib

/carton.lock
/.carton/
/local/
/vendor/
.carmel 

nytprof.out
nytprof/

cover_db/

*.bak
*.old
*~
*.swp
*.o
*.obj

!LICENSE

/_build_params

MYMETA.*

/FFmpeg-Inline-*

._*
.DS_Store
.zynaddsubfx-bank-cache.xml
.zcomdump
.zdirs
.vscode
.vscode/*
.inline
.perl-version
